@model Drugs.Models.DrugDto

<br />
<br />
<div class="container p-4 border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Manufacturing Date
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price PEr Package
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.Id
                </td>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Mfgdate
                </td>
                <td>
                    @Model.ExpiryDate
                </td>
                <td>
                    @Model.Location
                </td>
                <td>
                    @Model.Quantity
                </td>
                <td>
                    @((Model.PricePerPackage).ToString("c"))
                </td>
                <td>
                    <a asp-action="GetAllPrescriptions" class="btn btn-success" asp-route-Id="@Model.Id">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                    @*<a asp-action="DrugDelete" class="btn btn-danger" asp-route-Id="@item.Id">
                        <i class="fas fa-trash"></i>
                    </a>*@
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-5 offset-2">
        <a asp-action="Index" class="btn-primary btn form-control ">Back to Home</a>
    </div>
</div>

